@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}


/* Estilo da barra de rolagem (modo claro) */
.light-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.light-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.light-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Estilo da barra de rolagem (modo escuro) */
.dark-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid #181a1b;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

